
.colorNav {
    background-color: rgb(212, 32, 32);
}

.imgSliders {
    height: 650px;
    object-fit: cover;
}

.colorLupa {
    color: white;
}

.badgeColorVerde {
    background: rgb(114, 180, 23);
}

.badgeColorLila {
    background: rgb(226, 155, 226);
}

.badgeFuego {
    background-color: rgb(255, 128, 0);
}

.badgePsiquico {
    background-color: rgb(245, 93, 115);
}

.badgeHielo {
    background-color: rgb(81, 201, 241);
}

.cardHeader {
    margin-bottom: 0;
}